@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/**** VARIÁVEIS *****/
//Cor
:root {
  --primary-color: #f8ede3;
  --secondary-color: #bdd2b6;
  --tertiary-color: #5b6d5b;
  --contrast-color: #5EAAA8;

  --font:'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
}

.main {
  max-width: 1200px;
  margin: 10px auto 0 auto;
  text-align: center;
}

h1,
h3 {
  text-align: center;
  color: var(--tertiary-color);
}

.btn {
  background-color: var(--contrast-color);
  color: white;
  font-weight: bold;
  padding: 5px 30px;
  &:hover {
    opacity: 0.9;
    background-color: var(--contrast-color);
    color: white;
    font-weight: bold;
    padding: 5px 30px;
  }
}

a {
  padding: 0 5px;
  color: var(--tertiary-color);
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid;
    color: var(--tertiary-color);
    transition: 0.3s
  }
}

