<footer>
  <div class="main">
    <div>
      <h3>Fale conosco</h3>
      <p><a href="#"><i class="bi bi-whatsapp"></i> (37) 96578-9821</a></p>
      <p><a href="mailto:espaco@requiem.com"><i class="bi bi-envelope"></i> espaco@requiem.com</a></p>
    </div>
    <div>
      <h3>Endereço</h3>
      <p>Avenida Antônio Olímpio de Morais, 880</p>
      <p>Centro, Divinópolis/MG</p>
      <p>Cep: 35500-974</p>
    </div>
  </div>

  <div class="privacity">
    © 2020 Requiem Spa. Todos os direitos reservados.
  </div>
</footer>
