<div class="main">
  <div class="content">
    <div class="logo">
      <img src="assets/img/logo.svg" alt="Logo espaço Requiem">
    </div>
  <div class="info">
    <h1>Sobre o Espaço</h1>
    <h3>Espaço de Massagem Requiem</h3>

    <p>Somos especialistas em massagens holísticas e sensuais voltadas para o relaxamento e manutenção da saúde mental de pessoas que há buscam em suas vidas.</p>

    <span><button type="button" class="btn" href="#">Saiba mais</button></span>
  </div>
  </div>

  <div class="space">
    <h1>Conheça nosso espaço</h1>

    <section>
      
    <span class="conatiner-img">
      <img class="img" src="assets/img/space-1.svg" alt="Espaço Requiem">
    </span>

    <span span class="conatiner-img">
      <img class="img" src="assets/img/space-2.svg" alt="Espaço Requiem">
    </span>

    <span span class="conatiner-img">
      <img class="img" src="assets/img/space-3.svg" alt="Espaço Requiem">
    </span>
     
    </section>
  </div>
</div>

