nav {
  background-color: var(--primary-color);
}

.logo {
  max-width: 220px;
  cursor: pointer
}
.logo img {
  max-width:100%;
}

@media (max-width:768px) {
  .container-fluid {
    justify-content: center;
  }


  a {
    font-size: 1em;
  }
  .logo {
    text-align: center;
    margin: auto
  }
}
