<div class="cont">
  <carousel [noPause]="false">
    <slide class="slider">
      <img src="assets/img/carousel-img-1.svg" alt="Massagem Espaço Requiem">
      <div class="carousel-caption d-md-block">
        <h2>Massagem</h2>
        <p>Se você precisa de um dia especial para cuidar de você, preparamos opções que promovem uma renovação completa. Confira nossos dias especiais, banhos e tratamentos holísticos.</p>
      </div>
    </slide>
    <slide class="slider">
      <img src="assets/img/carousel-img-2.svg" alt="Renovação Espaço Requiem">
      <div class="carousel-caption d-md-block">
        <h2>Renovação</h2>
        <p>Você merece relaxar. Confira as nossas opções de massagens que vão fazer você renovar as energias e esquecer do estresse do dia-a-dia</p>
      </div>
    </slide>
    <slide class="slider">
      <img src="assets/img/carousel-img-3.svg" alt="Third slide">
      <div class="carousel-caption d-md-block">
        <h2>Bem-estar</h2>
        <p>Estar bem com nós mesmos faz toda a diferença. Aproveite nossos tratamentos para ter um momento de auto-cuidado e aumentar a sua auto-estima</p>
      </div>
    </slide>
  </carousel>
</div>
