<div id="content">
  <div class="main">
    <h1>Serviços</h1>
  
    <section>
  
      <span class="conatiner-services">
        <img src="assets/img/services-1.svg">
  
        <div class="info">
          <h3>Massagem Realaxante</h3>
          <p>É uma terapia corporal aplicada com as mãos, na qual a terapeuta, alternando entre toques mais sutis e mais profundos, se concentra em dar o relaxamento necessário para que você se recupere das tensões da vida diária.</p>
  
          <span class="button"><button type="button" class="btn" href="#">Agendar visita</button></span>
        </div>
      </span>
  
      
      <span class="conatiner-services">
        <img src="assets/img/services-2.svg">
  
        <div class="info">
          <h3>Massagem Tailandesa</h3>
          <p>Esta sessão se inicia com uma massagem relaxante, que é aplicada com força mediana ou de acordo com a preferência do paciente que estará de bruços e sob luz e som ambiente.</p>
  
          <span class="button"><button type="button" class="btn" href="#">Agendar visita</button></span>
        </div>
      </span>
  
      
      <span class="conatiner-services">
        <img src="assets/img/services-3.svg">
  
        <div class="info">
          <h3>Massagem Nuru</h3>
          <p>Inicialmente é aplicada com força mediana ou de acordo com a preferência do paciente que estará de bruços e sob luz e som ambiente.</p>
  
          <span class="button"><button type="button" class="btn" href="#">Agendar visita</button></span>
        </div>
      </span>
  
    </section>
  </div>
</div>